<template name="loops_page">
    <div class="spacer50"></div>
    <h1> Loops </h1>
    <div class="spacer20"></div>
    <h3> Choose 3 friendly loops </h3>

    <div class="container">
        <div class="span3">
            <h4>Drums</h4>
            <hr>
            <ul>
                {{#each drumLoops}}
                    {{> loop_item}}
                {{/each}}
            </ul>
        </div>
        <div class="span3">
            <h4>Bass</h4>
            <hr>
            <ul>
                {{#each bassLoops}}
                    {{> loop_item}}
                {{/each}}
            </ul>
        </div>
        <div class="span3">
            <h4>Guitar</h4>
            <hr>
            <ul>
                {{#each guitarLoops}}
                    {{> loop_item}}
                {{/each}}
            </ul>
        </div>
        <div class="span3">
            <h4>Vox</h4>
            <hr>
            <ul>
                {{#each miscLoops}}
                    {{> loop_item}}
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="container mt20">
        <div class="span12">
            <h4>Misc</h4>
            <hr>
            <ul>
                {{#each loops.misc}}
                    {{> loop_item}}
                {{/each}}
            </ul>
        </div>
    </div>

</template>

<template name="loop_item">
    <li>
        <div class="loop-item {{#if misc}}pull-left{{/if}} clearfix">
            <a href="#" class="play-loop pull-left" data-loop="{{_id}}">
                <i class="icon-bootstrap-play icon-white pull-left text-gray"></i> 
            </a>
            <a href="#" class="choose-loop" data-loop="{{_id}}">
                <span class="loop-item-name ml10 {{#if alreadyChosen}}text-gray default-cursor{{/if}}">{{name}}</span>
            </a>
        </div>
    </li>
</template>
